{% extends 'base.html' %}
{% block title %}Learn{% endblock %}
{% block content %}
    <div class="field">
        <div class="control">
            <h2 class="title is-2">Search a word and add it</h2>
            <form action="/search" method="post">
                <label>
                    <input name="word" class="input is-large is-rounded" type="text" placeholder="Word">
                </label><br><br>
                <input type="submit" class="button is-primary" value="Search">
            </form>

        </div>
    </div>
{% endblock %}